<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--SBC0 - Открытие счета  ЮЛ & ИП-->
    <add key="SBC0?3510123_*.xml" value="D:\Projects\CB\Alternative\311_XSD\SBC0_511.xsd"/> 
    <!--SBC2 - Закрытие счета  ЮЛ & ИП-->
    <add key="SBC2?3510123_*.xml" value="D:\Projects\CB\Alternative\311_XSD\SBC0_511.xsd"/>
    <!--SBC1 - Изменение реквизитов счета  ЮЛ & ИП-->
    <add key="SBC1?3510123_*.xml" value="D:\Projects\CB\Alternative\311_XSD\SBC1_511.xsd"/>
    <!--SFC0 - Открытие счета ФЛ-->
    <add key="SFC0?3510123_*.xml" value="D:\Projects\CB\Alternative\311_XSD\SFC0_511.xsd"/>
    <!--SFC2 - Закрытие счета ФЛ-->
    <add key="SFC2?3510123_*.xml" value="D:\Projects\CB\Alternative\311_XSD\SFC0_511.xsd"/>
    <!--SFC1 - Изменение реквизитов-->
    <add key="SFC1?3510123_*.xml" value="D:\Projects\CB\Alternative\311_XSD\SFC1_511.xsd"/>
  </appSettings>
</configuration>