/.vs
/.idea
/550/bin
/550/obj
/550/App.config
/CheckUniqueness/bin
/CheckUniqueness/obj
/CheckUniqueness/App.config
/CompareLists/bin
/CompareLists/obj
/CompareLists/App.config     
/CountFilesInArh/bin
/CountFilesInArh/obj    
/CountFilesInArh/App.config
/CountFilesInFolder/bin
/CountFilesInFolder/obj    
/CountFilesInFolder/App.config
/FillJournal/bin
/FillJournal/obj    
/FillJournal/App.config
/DoRelation/bin
/DoRelation/obj
/DoRelation/App.config
/FileCounter/bin
/FileCounter/obj
/FileCounter/App.config
/GetFilesName/bin
/GetFilesName/obj
/GetFilesName/App.config
/KwitParser/bin
/KwitParser/obj
/KwitParser/App.config
/PSDNotifier/bin
/PSDNotifier/obj
/PSDNotifier/App.config
/TransactionPassport/bin
/TransactionPassport/obj
/TransactionPassport/App.config
/XmlStore/bin
/XmlStore/obj
/XmlStore/App.config
/CreateListArh/bin 
/CreateListArh/obj
/XmlValidator/bin
/XmlValidator/obj
/XmlValidator/App.config
/CountFilesInArh/bin/Debug
